.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  align-items: center;
}

.main__logo img {
  width: 310px;
  height: 296px;
  animation-name: opacity-animation;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.main__logo video {
  width: 400px;
}

.main__description {
  max-width: 736px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--Text-Text-accent);
  margin: 60px 0 40px;
  animation-name: opacity-animation;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
  animation-delay: 0.7s;
  animation-fill-mode: backwards;
}

.main__button {
  border: none;
  border-radius: 10px;
  padding: 7px 7px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--Clear-base-bg);
  background: #14d6a1;
  transition: all 0.3s;
  animation-name: opacity-animation;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
  animation-delay: 0.9s;
  animation-fill-mode: backwards;
}

.main__button:hover {
  background: #a9f1de;
  cursor: pointer;
}

.main__button:active {
  background: #14d6a1;
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
    transform: translate(0px, 25px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@media screen and (max-height: 850px) {
  .main {
    padding-top: calc(100dvh / 5 - 70px);
  }
}

@media screen and (max-height: 800px) {
  .main {
    padding-top: calc(100dvh / 5 - 80px);
  }
}

@media screen and (max-height: 784px) {
  .main {
    padding-top: calc(100dvh / 5 - 100px);
  }

  .main__logo img {
    width: 250px;
    height: 238px;
  }

  .main__logo video {
    width: 320px;
  }

  .main__description {
    max-width: 480px;
    padding: 0 15px;
    margin: 40px 0 30px;
  }
}

@media screen and (max-height: 648px) {
  .main {
    padding-top: calc(100dvh / 5 - 80px);
  }
  .main__description {
    margin: 10px 0 30px;
  }
}
